@model IEnumerable<Game>


<h1>Games</h1>
<p>Number of games: @Model.Count()</p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Created</th>
            <th scope="col">Game definition</th>
            <th scope="col">TimeSecs</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var game in Model)
    {
        <tr>
            <th scope="row">@game.Id</th>
            <td>@game.User?.UserName</td>
            <td>@game.TimeCreated</td>
            <td>@game.GameDefinitionId</td>
            <td>@game.TimeSecs</td>
            <td>@game.Score</td>
        </tr>
       }
    </tbody>
</table>