@model IEnumerable<Riddle>

@{
    ViewBag.Title = "Create riddle";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Difficulty</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var riddle in Model)
    {
        <tr>
            <th scope="row">@riddle.Id</th>
            <td>@riddle.Question</td>
            <td>@riddle.Answer</td>
            <td>@riddle.Difficulty</td>
            <td>@riddle.Rank</td>
            <td>
                <a asp-action="Edit" asp-route-id="@riddle.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@riddle.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@riddle.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
